@import "tailwindcss";  /* TAILWIND PER IL CSS */

@import "leaflet/dist/leaflet.css";  /* LEAFLET PER LA MAPPA */


/* questa scrollbar serve per il Modale Leggi Tutto in TravelDays e per il Modale dei Tags in AddDay */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* larghezza della barra */
  will-change: scroll;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #1f2937;     /* colore dello sfondo della barra */
  border-radius: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #3b82f6; /* colore del "thumb" */
  border-radius: 8px;
  border: 2px solid #1f2937; /* bordo per staccarlo dal track */
}

/* questa scrollbar serve per tutto il progetto e per le textarea in AddDay e in EditDay  */
.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent !important;  /* trasparenza per adattarsi allo sfondo */
  border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.7); /* grigio chiaro semi-trasparente */
  border-radius: 8px;
  border: 2px solid rgba(31, 41, 55, 0.4);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(229, 231, 235, 0.8); /* più chiaro al passaggio */
}

/* questa scrollbar serve per la HomePage  */
.scrollbar-home::-webkit-scrollbar {
  width: 10px;
}

.scrollbar-home::-webkit-scrollbar-track {
  background: linear-gradient(180deg, rgb(96, 165, 250),white, rgba(255, 140, 29, 0.8));
}

.scrollbar-home::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgb(81, 162, 255),white, rgba(255, 140, 29, 0.8));
  border-radius: 20px;
}












