@import "tailwindcss";  /* TAILWIND PER IL CSS */
@custom-variant dark (&:where(.dark, .dark *)); /* VARIANTE DARK MODE PER TAILWIND */

@import "leaflet/dist/leaflet.css";  /* LEAFLET PER LA MAPPA */

/* Scrollbar base */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* LIGHT MODE */
.scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #3B82F6, #F97316); /* light mode: blue-500 → orange-500 */
  border-radius: 8px;
}


/*  DARK MODE */
.dark .scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #0F172A, #64748B); /* dark-mode: slate-900 → slate-500 */
  border-radius: 8px;
}
















