@import "tailwindcss";  /* TAILWIND PER IL CSS */
@custom-variant dark (&:where(.dark, .dark *)); /* VARIANTE DARK MODE PER TAILWIND */

@import "leaflet/dist/leaflet.css";  /* LEAFLET PER LA MAPPA */

/* Scrollbar base */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Sfondo della scrollbar (trasparente) */
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* --- LIGHT MODE --- */
.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(249 115 22); /* bg-orange-500 */
  border-radius: 8px;
}

/* --- DARK MODE --- */
.dark .scrollbar::-webkit-scrollbar-thumb {
  background: rgb(100 116 139); /* bg-slate-500 */
  border-radius: 8px;
}
