@import "tailwindcss";  /* TAILWIND PER IL CSS */
@custom-variant dark (&:where(.dark, .dark *)); /* VARIANTE DARK MODE PER TAILWIND */

@import "leaflet/dist/leaflet.css";  /* LEAFLET PER LA MAPPA */

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { scrollbar-width: none; -ms-overflow-style: none; }


/* Scrollbar base */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Sfondo della scrollbar (trasparente) */
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* --- LIGHT MODE --- */
.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(249 115 22); /* bg-orange-500 */
  border-radius: 8px;
}

/* --- DARK MODE --- */
.dark .scrollbar::-webkit-scrollbar-thumb {
  background: rgb(100 116 139); /* bg-slate-500 */
  border-radius: 8px;
}


/* queste classi mi servono per le select */
.custom__menu-list {
  max-height: 200px;
  overflow-y: auto;
}
.custom__menu-list::-webkit-scrollbar {
  width: 8px;
}
.custom__menu-list::-webkit-scrollbar-track {
  background: transparent;
}
.custom__menu-list::-webkit-scrollbar-thumb {
  background: rgb(249 115 22); /* LIGHT MODE */
  border-radius: 8px;
}
.dark .custom__menu-list::-webkit-scrollbar-thumb {
  background: rgb(100 116 139); /* DARK MODE */
}

